@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* HEADER */
header {
    text-align: center;
}

nav {
    color: white;
    height: 10vh;
    background-color: #1E1E1E;
}

ul {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
    font-size: clamp(1rem, 5vw, 1.8rem);
}

li > a {
    text-decoration: none;
    color: white;
}

.prime-img {
    width: 100%;
}

/* MAIN */
main {
    margin: 48px auto;
    padding: 16px;
}

h2 {
    width: 65%;
    margin: 24px auto 16px;
}

.aclamados {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.inner-container {
    display: flex;
    justify-content: space-around;
    transition: transform 1s ease-out, opacity 1s ease-out;
}

.hidden-right {
    position: absolute;
    opacity: 0;
}

.hidden-left {
    position: absolute;
    opacity: 0;
}

.seta {
    width: 50px;
    margin-top: -40px;
    margin-inline: 24px;
    cursor: pointer;
}

figure {
    font-weight: 800;
    text-align: center;
}

.poster {
    margin-bottom: 8px;
    width: clamp(150px,20vw, 300px);
    aspect-ratio: 2 / 3;
    border: 5px solid black;
    border-radius: 13.5%;
}

.middle-poster {
    margin-inline: 24px;
}